APP_NAME=MailGuard Backend
APP_VERSION=1.0.0
API_PREFIX=/api/v1
DEBUG=false
HOST=0.0.0.0
PORT=8000
MODELS_DIR=./models_complete_lstm
DATASET_PATH=./dataset/dataset_complet.csv
GEMINI_API_KEY=
CORS_ORIGINS=["http://localhost:5173","http://127.0.0.1:5173","https://ton-frontend.vercel.app","https://ton-space.hf.space"]
